dn: ou=Users,dc=selfhosted,dc=site
ou: Users
description: selfhosted.site Users
objectClass: organizationalUnit

dn: uid=nestor,ou=Users,dc=selfhosted,dc=site
cn: Nestor Pestelos
sn: Pestelos
uid: nestor
mail: nestor@example.com
userPassword: {SSHA}MG5OfNGQdpwJlmd0G0vfMnu1BKhosbhK
ou: Users
objectClass: person
objectClass: organizationalPerson
objectClass: inetOrgPerson
