[ldap]
ldap.example.com

[ldap:vars]
ldap_base_dn="dc=selfhosted,dc=site"
ldap_cert_path="/etc/ssl/certs/cert.pem"
ldap_ca_cert_path="/etc/ssl/certs/ca.pem"
ldap_config_path="/etc/ldap/slapd.d"
ldap_domain="selfhosted.site"
ldap_hostname="ldap"
ldap_htpasswd_user="user"
ldap_htpasswd_password="password"
ldap_key_path="/etc/ssl/private/key.pem"
ldap_organization="Self-Hosted Apps"
