[OSEv3:children]
masters
nodes
etcd

[OSEv3:vars]
ansible_ssh_user=root
deployment_type=origin
containerized=true
enable_excluders=false
openshift_release=1.4.1
openshift_router_selector='region=infra'
openshift_registry_selector='region=infra'
openshift_hostname="{{ ansible_default_ipv4.address }}"
openshift_public_hostname="{{ inventory_hostname }}"
openshift_master_default_subdomain='selfhosted.site'
openshift_master_cluster_hostname="{{ ansible_default_ipv4.address }}"
openshift_master_cluster_public_hostname="{{ inventory_hostname }}"
openshift_master_named_certificates=[{ "certfile": "/path/to/cert.pem", "keyfile": "/path/to/key.pem", "cafile": "/path/to/ca.pem" }]
openshift_master_overwrite_named_certificates=true
openshift_master_access_token_max_seconds=2592000

[masters]
master.selfhosted.site

[nodes]
master.selfhosted openshift_node_labels="{'region': 'infra'}" openshift_schedulable=true

[etcd]
etcd-1.selfhosted.site
etcd-2.selfhosted.site
etcd-3.selfhosted.site
